/*Website's Color Palette #1A1C22 #3D3A50 #580EF6 #F7F7F7*/

@font-face {
    font-family: "Calistoga-Regular";
    src: url("/fonts/Calistoga-Regular.woff2") format("woff2");
    src: url("/fonts/Calistoga-Regular.woff") format("woff");
}

@font-face {
    font-family: "Kalam-Regular";
    src: url("/fonts/Kalam-Regular.woff2") format("woff2");
    src: url("/fonts/Kalam-Regular.woff") format("woff");
}

/*General*/

html, body {
    height: 100vh;
    margin: 0;
}

body {
    background: radial-gradient(100% 100% at 100% 0, #5adaff 0, #580EF6 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

/*Left grid container*/

#left-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Right (main) grid container*/

#title-name {
    color: #F7F7F7;
    text-align: center;
    letter-spacing: 4px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 400%;
    font-family: "Calistoga-Regular", cursive;
}

#subtitle-university {
    color: #F7F7F7;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Kalam-Regular", cursive;
}

.invisible-link {
    text-decoration: none;
    color: inherit;
}

/*Navigation Menu*/

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
}

/*Buttons*/

.nav-button {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #734dfe 0, #6715ff 100%);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #F7F7F7;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 47px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.nav-button:focus {
    box-shadow: #683ce0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #683ce0 0 -3px 0 inset;
}

.nav-button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #683ce0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.nav-button:active {
    box-shadow: #683ce0 0 3px 7px inset;
    transform: translateY(2px);
}

/*Scrollable main*/

#scrollable-main {
    margin-top: 3em;
    height: 40vh;
    width: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#scrollable-main::-webkit-scrollbar {
    width: 0;
  }

  .main-titles {
    text-align: center;
  }

/*Social media*/

.social-media-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 3em;
}

.sm-icon {
    margin: 0 10px;
}

.sm-icon img {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(0.90);
}

.sm-icon:hover {
    filter: brightness(0) invert(1);
}