/* Website's Color Palette #1A1C22 #3D3A50 #580EF6 #F7F7F7*/

@font-face {
    font-family: "Calistoga-Regular";
    src: url("/fonts/Calistoga-Regular.woff2") format("woff2");
    src: url("/fonts/Calistoga-Regular.woff") format("woff");
}

@font-face {
    font-family: "Kalam-Regular";
    src: url("/fonts/Kalam-Regular.woff2") format("woff2");
    src: url("/fonts/Kalam-Regular.woff") format("woff");
}

body {
    background-color: #1A1C22;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    justify-items: center;
    align-items: center;
}

#title-name {
    color: #F7F7F7;
    text-align: center;
    letter-spacing: 4px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 400%;
    font-family: "Calistoga-Regular", cursive;
}

.invisible-link {
    text-decoration: none;
    color: inherit;
}

#subtitle-university {
    color: #F7F7F7;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Kalam-Regular", cursive;
}

.social-media-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.sm-icon {
    margin: 0 10px;
}

.sm-icon img {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
}